extends layout
include mixins

block content
  .grid-container.text-center
    .grid-x.grid-margin-x.align-center 
      h1.cell.small-12= title
        div.cell.small-12(class="spacer")
        p.cell.small-12.text-center .... 
        p.cell.small-12.text-center 
          a.button(href="/") Back
