extends layout
include mixins

block content
  +topBar
  .grid-container.text-center
    .grid-x.grid-margin-x.align-center 
      h1.cell.small-12= title
      div.cell.small-12(class="spacer")
      p.cell.small-12.text-center What's going on?
      form.cell.small-12.large-6(method="POST", action="/")
        textarea(name="question", required, style="height: 200px; width: 100%;")
        button.button.large.success(type="submit") Get Advice
