extends layout

block meta
  head
    script(async src="https://www.google.com/recaptcha/api.js")
    link(rel="preconnect" href="https://www.google.com")
    link(rel="preconnect" href="https://www.gstatic.com" crossorigin)
    script.
      document.addEventListener("DOMContentLoaded", function () {
          grecaptcha.ready(function () {
              grecaptcha.execute('6Le7yP8nAAAAAPUOVGZ9Xfu95Nco8h0vmUhUZ0u3', { action: 'submit' }).then(function (token) {
                  document.querySelector('#recaptcha').innerHTML = '<input type="hidden" name="g-recaptcha-response" value="' + token + '">';
              });
          });
      });


block content

  +topBar
  .grid-container.text-center
    .grid-x.grid-margin-x.align-center 
      div.cell.small-12
        img(src="images/bot-e-logo.jpg", height="200", width="200")
      div.cell.small-12(class="spacer")
      p.cell.small-12.text-center What's going on?
      form.cell.small-12.large-6(method="POST", action="/")
        textarea(name="question", required, style="height: 200px; width: 100%;") #{question}
        div#recaptcha
        button.button.large.success(type="submit") Get Advice
  if errors
    script.
      const notice = document.createElement('div');
      notice.textContent = `#{errors}`;
      notice.classList.add('callout', 'alert');
      document.body.appendChild(notice);

      setTimeout(() => {
        document.body.removeChild(notice);
      }, 3000); // Remove notice after 3 seconds
  +siteFooter
