include mixins
doctype html
html
  head
    title= title
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content=description)
    link(rel="canonical" href=canonical)
    script(src='https://www.google.com/recaptcha/api.js?render=6Le7yP8nAAAAAPUOVGZ9Xfu95Nco8h0vmUhUZ0u3')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/foundation-sites@6.8.1/dist/css/foundation.min.css')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/foundation-icons@2.0.0/foundation-icons.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.8.1/js/foundation.min.js')
    script(async, src="https://www.googletagmanager.com/gtag/js?id=G-ZDBTXYEE02")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-ZDBTXYEE02');
    block meta
  body
    block content
