mixin topBar
  script.
    function viewRandom(){
      alert('random');
      return false;
    }
  .top-bar(style="background-color:#fff;")
    .top-bar-left
      ul.dropdown.menu(data-dropdown-menu, style="background-color:#fff;")
        li
          a.button.unstyled.hollow.clear(href='/') Bot-E
        li
          a.button.unstyled.hollow.clear(href='/') New Question
        li
          form(id="random-form" method="post" action="/next_question")
            button.button.unstyled.hollow.clear(type="button", name="direction" value="random", class="g-recaptcha", data-sitekey="6Le7yP8nAAAAAPUOVGZ9Xfu95Nco8h0vmUhUZ0u3", data-callback='randomForm', data-tooltip, tabindex="2", title="browse") Browse
        li
          a.button.unstyled.hollow.clear(href='/search') Search
mixin siteFooter
  footer.footer
    .grid-container.text-center
      .grid-x.grid-margin-x
        .cell.small-12
          p &nbsp;
          p &nbsp;
          a(href='/about') about &nbsp;
          span
            i.fi-widget &nbsp;&nbsp;
          a(href='/tos') terms
          p &nbsp;&copy; 2023 Bot-E LLC
