mixin topBar
  .top-bar
    .top-bar-left
      ul.dropdown.menu(data-dropdown-menu)
        li.menu-text Bot-E
        li
          a(href='/') new question
    .top-bar-right
      ul.menu
          li
            input#search-input(type='search', name='search_phrase', placeholder='Search', value=search_for)
          li
            button#search-button.button(type='button') Search

          script.
            document.addEventListener('DOMContentLoaded', function() {
              const searchInput = document.getElementById('search-input');
              const searchButton = document.getElementById('search-button');

              searchButton.addEventListener('click', performSearch);
              
              searchInput.addEventListener('keypress', function(event) {
                if (event.key === 'Enter') {
                  performSearch();
                }
              });

              function performSearch() {
                const searchPhrase = searchInput.value;
                if (searchPhrase) {
                  window.location.href = '/search/' + encodeURIComponent(searchPhrase);
                }
              }
            });
mixin siteFooter
  footer.footer
    .grid-container.text-center
      .grid-x.grid-margin-x
        .cell.small-12
          p &nbsp;
          p &nbsp;
          a(href='/about') about &nbsp;
          span
            i.fi-widget &nbsp;&nbsp;
          a(href='/tos') terms
          p &nbsp;&copy; 2023 Bot-E LLC
