extends layout
include mixins

block content
  +topBar
  .grid-container
    .grid-x.grid-margin-x.align-center
      .cell.small-12.medium-6.margin-top-3
        h1.cell.small-12= title

        p Thank you for using bot-e!

