extends layout
include mixins

block content
  +topBar
  .grid-container
    .grid-x.grid-margin-x
      h1 Search Results

  .grid-container
    each question in questions
      .question-container
        a(href=question.canonical)
          h4= question.title
          p

        .flex-container
          if question.image_url
            .image-container
              img(src=question.image_url, alt='Image', height='64px', width='64px', style='margin-right:10px;')
          .description-container
            p Description: #{question.description}
  +siteFooter
