extends layout
include mixins

block content
  +topBar
  .grid-container
    .grid-x.grid-margin-x
      h1.cell.small-12= title
    .grid-x.grid-margin-x.align-left
      .cell.small-12.medium-6
        p Anonymous use of this service grants askbotty.com the right to add your question to the archive. Save the link!
        p https://openai.com/policies/terms-of-use
        p https://openai.com/policies/usage-policies
    .grid-x.grid-margin-x
      .cell.small-12.medium-6
        a(href="/signup") Sign Up
        p To control your content, hide it, update it, etc.
    .grid-x.grid-margin-x
      .cell.small-12.medium-6
        a.button(href="/") Back
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    .grid-container
          h1 Date Range Picker
          .grid-x.grid-margin-x
            .cell.small-6
              p Start Date:
              input(type="date" id="startDatePicker")
            .cell.small-6
              p End Date:
              input(type="date" id="endDatePicker")

          script.
            $(document).foundation(); // Initialize Foundation

            // Handle input changes
            $('#startDatePicker, #endDatePicker').on('input', function () {
              const startDate = $('#startDatePicker').val();
              const endDate = $('#endDatePicker').val();

              console.log('Start Date:', startDate);
              console.log('End Date:', endDate);
            });
