extends layout
include mixins

block content
  +topBar
  .grid-container
    .grid-x.grid-margin-x.align-center
      .cell.small-12.medium-6.margin-top-3
        h1.cell.small-12= title

        p Thank you for using Bot-E!

        p 
          | These Terms of Use apply when you use the services of bote, LLC,
          | including our software, data, documentation, phone applications and
          | websites (“Services”). By using our Services, you agree to these Terms.

        h4.cell.small-12 Registration and Access
        p
          | You must be at least 13 years old to use the Services of Bot-E LLC.
          | If you are under 18 you must have your parent or legal guardian’s
          | permission to use the Services. If you use the Services on behalf of
          | another person or entity, you must have the authority to accept the
          | Terms on their behalf.

        h4.cell.small-12 Usage Requrements
        p
          | (a)
          strong  Use of Services.
          |  You may access, and we grant you a non-exclusive right to use, the
          | Services in accordance with these Terms. You will comply with these
          | Terms and all applicable laws when using the Services. We and our
          | affiliates own all rights, title, and interest in and to the
          | Services, and all data ingested into and produced by the Services.

        p
          | (b)
          strong  Feedback.
          |  We appreciate feedback, comments, ideas, proposals and suggestions
          | for improvements. If you provide any of these things, we may use it
          | without restriction or compensation to you.

        p
          | (c)
          strong  Restrictions.
          |  You may not (i) use the Services in a way that infringes,
          | misappropriates or violates any person’s rights; (ii) reverse
          | assemble, reverse compile, decompile, translate or otherwise attempt
          | to discover the source code or underlying components of models,
          | algorithms, and systems of the Services (except to the extent such
          | restrictions are contrary to applicable law); (iii) use output from
          | the Services to develop models that compete with Bot-E; (iv) use any
          | automated or programmatic method to extract data or output from the
          | Services, including scraping, web harvesting, or web data extraction;
          | or (v), send us any personal information of children under 13 or the
          | applicable age of digital consent. 

        h4.cell.small-12 Content
        p
          | (a)
          strong  Content.
          |  You may provide input to the Services (“Input”), and receive
          | output generated and returned by the Services based on the Input
          | (“Output”). Input and Output are collectively “Content.” As an
          | anonymous service, Bot-E LLC owns both Input and Output. Bot-E LLC
          | may use Content to provide and maintain the Services, comply with
          | applicable law, and enforce our policies. Bot-E LLC has the right to
          | append to the Content and create additional output in other formats.
          | We userthe Content to develop and improve our Services as well.

        p
          | (b)
          strong  Accuracy.
          |  Artificial intelligence and machine learning are rapidly evolving
          | fields of study. We are constantly working to improve our Services to
          | make advice more pertinent, reliable, safe and beneficial. Given the
          | probabilistic nature of machine learning, use of our Services may in
          | some situations result in incorrect Output that does not respond to
          | the emotional tone of the Input. Not all Input is appropriate for our
          | Services and Bot-E LLC reserves the right to not respond to Input
          | that does not conform to our 
          a(href='/usage') Usage Policies.

        h4.cell.small-12 Confidentiality
        p
          | (a)
          strong  Confidentiality.
          | You may not disclose Confidential Information in the Input to our
          | Services, and you will protect other's Confidential Information in
          | the same manner that you protect your own confidential information of
          | a similar nature, using at least reasonable care.  You may not
          | disclose your own personal information in our Services. Confidential
          | Information means nonpublic information that Bot-E LLC designate as
          | confidential or should reasonably be considered confidential under
          | the circumstances, including personally identifying information,
          | financial specifications, and other nonpublic business information. 

  +siteFooter
