extends layout

block content
  .grid-container
    .grid-x.grid-margin-x
      h1.cell.small-12= title
    .grid-x.grid-margin-x.align-left
      .cell.small-12.medium-6
        p Anonymous use of this service grants askbotty.com the right to add your question to the archive. Save the link!
        p https://openai.com/policies/terms-of-use
        p https://openai.com/policies/usage-policies
    .grid-x.grid-margin-x
      .cell.small-12.medium-6
        a(href="/signup") Sign Up
        p To control your content, hide it, update it, etc.
    .grid-x.grid-margin-x
      .cell.small-12.medium-6
        a.button(href="/") Back

