extends layout

block content
  .grid-container.text-center
    .grid-x.grid-margin-x.align-center 
      h1.cell.small-12= title
      if message
        p.cell.small-12 Thank you for the message: #{message}
      else
        // Added an empty div with a class to create space between the text and the textarea
        div.cell.small-12(class="spacer")
        p.cell.small-12.text-center What's going on?
        form.cell.small-12.large-6(method="POST", action="/")
          textarea(name="message", required, style="height: 200px; width: 100%;")
          button.button.large.success(type="submit") Get Advice
        p.cell.small-8.text-center 
          a(href="/tos") terms of service
